#sit-out {
	z-index: 100;
	top: 10px;
	.modal-content {
	    margin: 0;
	    padding: 0;
	    border: none;
	    width: 100%;
	    opacity: 0.84;
	    border-radius: 0;
	    background-color: black;
	}
	.modal-dialog {
		width: 100%;
	}
	.modal-container {
		height: 100vh;
		text-align: center;
	}
	.play-icon-container {
		width: 34%;
	    margin: 0 auto;
	}
}