.game-layout {
	position: relative;
	.play-icon-container {
		margin-top: 26px;
	}
	.game-header {
	    padding: 18px;
	    background-color: #151515;
	}
	.game-type-name {
	    text-transform: uppercase;
	    opacity: 0.87;
	    font-size: 26px;
	    font-weight: bold;
	}
	.opened {
	    /* font-family: ProximaNova; */
	    font-size: 30px;
	    font-weight: 300;
	    color: #3de689;
	}
	.filter-icon-container {
	    position: absolute;
	    right: 18px;
	    bottom: 0;
	}
}
.padding-right-10 {
	padding-right: 10px;
}