.player-container {
	width: 115px;
	height: 55px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	border-radius: 4.8px;
	background-color: #2b2b2b;
	margin-left: 10px;
}