.loby-layout {
	position: relative;
	.play-icon-container {
		width: 10%;
	    float: left;
	    margin: 16px 10px auto;
	}
	.left-half, .right-half {
		width: 50%;
		float: left;
	}
	.user-detail-container {
		width: 80%;
		float: left;
	}
	.loby-layout-header {
		width: 100%;
		float: left;
	    background-color: #1d1d1d;
	}
	.money-container {
	    
	}	
	.game-type-name {
	    text-transform: uppercase;
	    opacity: 0.5;
	    font-size: 16px;
	    font-weight: bold;
	    float: left;
	    padding: 20px 36px;
	    color: white;
	}
	.no-decor {
		text-decoration: none;
	}
	.active-game-type {
		border-bottom: 4px solid #3de689;
		opacity: 1;
	}
	.loby-header {
		width: 100%;
		float: left;
		background-color: #151515;
	}
	.type-name, .opened-tables, .cash-game-open, .tournament-open {
		width: 50%;
		float: left;
	}
	.opened {
	    font-size: 18px;
	    font-weight: 300;
	    color: white;
	    padding: 20px;
        opacity: 0.4;
        color: white;
        
	}
	.active-opened {
		.opened {
	    	color: #3de689;
        	opacity: 1;
        	text-decoration: none;
        }
	}
	.filter-icon-container {
	    position: fixed;
	    right: 18px;
	    bottom: 0;
        width: 10%;
	}
	.filter-icon {
	   	width: 69.45%;
	}
	.bankroll-value {
	    font-family: ProximaNova-Bold;
	    font-size: 1.1428571429em;
	    font-weight: bold;
	    letter-spacing: 0.4px;
	    padding: 3% 2%;
	}
	.name-balance-review {
	    width: 80%;
	}
}
.padding-right-10 {
	padding-right: 10px;
}