$display-color: #494949;
#buyin-pref {
  .modal-content {
    width: 68%;
  }
  #error-message {
    color: red;
    font-size: 11px;
  }
  .range-buyin-pref {
    position: relative;
    margin: 8% 0;
    .bb-value{
      position: absolute;
      margin-top: 14px;
      font-size: 13.5px;
      font-weight: 600;
      color: #717171;
      &.min {
        left: 0;
      }
      &.max {
        right: 0;
      }
      
    }
  }
  .pref-input{
    border-radius: 52px;
    background-color: #f7f7f7;
    color: black;
    padding: 10px 0px;
    font-size: 13.5px;
    font-weight: 600;
    text-align: center;
    width: 45%;
    margin-right: 5%;
    float: left;
  }
  .display-bb {
    padding: 10px 20px;
    background-color: $display-color;
    border-radius: 52px;
    display: inline-block;
    float: right;
    color: white;
  }
  .display-bankroll {
    padding: 10px 20px;
    background-color: $display-color;
    border-radius: 52px;
    font-size: 13.5px;
    font-weight: 600;
    color: #000000;
    display: inline-block;
    color: white;
  }
  .label-wrapper {
    text-align: left;
    padding: 10px 0;
    margin-bottom: 24px;
  }
  .pref-input-container {
    clear: both;
  }
  .pref-label {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }
  .user-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  .set-button-container {
    text-align: right;
    margin-top: 4%;
  }
}