.player-chips {
	position: absolute;
	color: white;
	.chips {
	    padding: 4px 10px 0 0;
	    display: inline-flex;
	    box-sizing: content-box;
	    border-radius: 10px;
	    background-color: #333333;
	}
	.coin-icon-container {
	  width: 25px;
	}
	.chips-value {
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 0.3px;
	}
}