nav{    
    width: 7%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #232323;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}
section#main{
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
    width: 93%;     
}
.nav-link {
    display: block;
    margin: 0 auto;
    width: 30%;
}
.play-icon {
    width: 35%;
    padding-top: 20%;
}
.icon-wrapper {
    margin: 0 auto;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.other-icon-wrapper {
    
}
.user-detail-section {
    width: 50%;
}
.user-detail-container {
    display: flex;
    background-color: #1d1d1d;
}
.video-section {
    width: 50%;
}
.profile-photo {
    width: 20%;
}
.name-balance-review {
    width: 75%;
    display: flex;
}
.photo {
    width: 100%;
    height: 100%;
}
.name-balance-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.review-icon-container {
    width: 30%;
    box-sizing: border-box;
}
.review-icon-wrapper {
    width: 70%;
    float: right;
}
.user-name {
    padding: 3% 2%;
    font-size: 18px;
}
.balance {
    padding: 3% 2%;
    font-size: 16px;
    font-weight: bold;
}
.money-search-container {
    display: flex;
    box-sizing: border-box;
    padding: 8% 0 3% 2%;
    background-color: #1b1b1b;
    flex-direction: column;
}
.search-container {
    display: flex;
    padding-top: 6%;
}
.search-container .form-group{
    position: relative;
    width: 95%;
}
#search-input {
    border-radius: 100px;
    background-color: #000000;
    border: solid 2px #3b3b44;
    width: 100%;
    box-sizing: border-box;
    padding: 2% 10% 2% 3%;
}
.search-icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 3%;
    padding-top: 1%;
}
.upper-section {
    display: flex;
    justify-content: flex-start;
    height: 48vh;
}
.lower-section {
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow: hidden;
}
.width-100 {
    width: 100%;
    float: left;
    height: 50%;
}
.width-50 {
    width: 47%;
    float: left;
    height: 90%;
    margin: 1% 1%;
}

.game-icon-container {
    /* padding: 24px 0 16px 0px; */
    height: 100%;
    padding: 25%;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.cash-game-icon-container {
    background-image: linear-gradient(42deg, #27bd25, #17eb98);
}
.tournament-icon-container {
    background-image: linear-gradient(41deg, #5983ff, #fb68f8);
}
.sit-game-icon-container {
    background-image: linear-gradient(41deg, #547bf3, #38dbfd);
}
.mytourn-game-icon-container {
    background-image: linear-gradient(41deg, #ff599e, #ffab68);
}
.game-icon-wrapper {
    mix-blend-mode: luminosity;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.game {
    width: 100%;
    float: left;
    display: flex;
    height: 100%;
}
.game-box {
    padding-left: 5%;
}
.game-icon {
    width: 35%;
    height: 100%;
    float: left;
}
.game-text {
    width: 65%;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    background-color: #232327;
}
.game-title {
    font-size: 24px;
    padding: 10% 0;
}
.play-with-friends {
    font-size: 13px;
    padding: 10% 0;
}