nav{    
    width: 10%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100vh;
}
section#main{
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
    width: 90%;     
}
.nav-link {
    display: block;
}
.play-icon {
    padding-top: 18%;
}
.icon-wrapper {
    margin: 0 auto;
    /* just to get an apsect ratio same as the SVG's: */
    padding-top: 75%;
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}
.other-icon-wrapper {
    padding-top: 28%;
    width: 28%;
}
.user-detail-section {
    width: 50%;
    float: left;
}
.video-section {
    width: 50%;
    float: left;
}
.profile-photo {
    width: 25%;
    float: left;
}
.name-balance-review {
    width: 75%;
    float: left;
}
.photo {
    width: 100%;
}
.name-balance-container {
    width: 60%;
    float: left;
    margin-top: 10px;
}
.review-icon-container {
    width: 40%;
    float: left;
    padding: 16px;
    box-sizing: border-box;
}
.review-icon-wrapper {
    width: 80%;
    float: right;
}
.user-name {
    padding: 16px;
    font-size: 18px;
}
.balance {
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
}