.player-chips {
	position: absolute;
	color: white;
	.chips {
        width: 75%;
	    display: inline-flex;
	    box-sizing: content-box;
	    border-radius: 10px;
	    background-color: #333333;
	}
	.coin-icon-container {
	  /* width: 20px;
	  padding: 0 8px; */
	  width: 100%;
	}
	.chips-value {
		font-size: 10px;
	    font-weight: 600;
	    letter-spacing: 0.3px;
	    padding: 7% 14%;
	}
}