.player-chips {
	position: absolute;
	color: white;
	.chips {
		padding: 10px;
	    display: inline-flex;
		width: 100px;
		box-sizing: content-box;
	}
	.coin-icon-container {
	  width: 25px;
	}
	.chips-value {
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 0.3px;
	}
}