.game-actions {
  .range-field {
    width: 100%;
    margin: 5.807% 0;
    position: relative;
    .indicator {
      position: absolute;
      top: -50%;
    }
    .plus {
      right: -1.025%;
      transform: translateX(100%);
    }
    .minus {
      left: -6%;
      transform: translateX(-100%);
    }
    input {
      width: 100%;  
    }
  }
  .space-between {
    display: flex;
    justify-content: space-between;
  }
  .values{
    .input-container {
      width: 18.9%;
    }
    .form-control {
      border-radius: 52px;
      width: 100%;
      padding: 4px 0px;
      text-align: center;
      background-color: #f7f7f7;
      font-size: 13.5px;
      font-weight: 600;
      color: #000000;
      border: solid 0.4px #3b3b44;
    }
    .button-container{
      display: table;
      width: 14.5%
    }
    .button {
      padding: 7% 0;
      width: 100%;
      display: table-cell;
    }
  }
    
  .actions {
    .button-container{
      display: table;
      width: 27.7%;
    }
    .button {
      padding: 11% 0;
      width: 100%;
      display: table-cell;
    }
  }

}
