@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Reg-webfont.ttf');
	src: url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
	     url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
	     url('../fonts/ProximaNova-Reg-webfont.svg#webfont') format('svg');
}
body {
	background-color: black;
	color: white;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:focus {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.button {
    border: none;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border-radius: 40px;
    background-color: #3c3c3c;
}
.button:hover {
    background-color: #3de689;
}
