@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Reg-webfont.ttf');
	src: url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
	     url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
	     url('../fonts/ProximaNova-Reg-webfont.svg#webfont') format('svg');
}
body {
    font-family: ProximaNova;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:focus {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.button {
    border: none;
    display: inline-block;
    padding: 12px 24px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border-radius: 40px;
    background-color: #3c3c3c;
}
.button:hover {
    background-color: #3de689;
}
.hide {
    display: none !important;
}
.text-uppercase {
    text-transform: uppercase;
}
.row {
    width: 100%;
    float: left;
}
.col-lg-1 {
    float: left;
    width: 9%;
}
.col-lg-2 {
    float: left;
    width: 18%;
}
.col-lg-3 {
    float: left;
    width: 25%;
}
.col-lg-4 {
    float: left;
    width: 33.33%;
}
.col-lg-5 {
    float: left;
    width: 41%;
}
.col-lg-6 {
    float: left;
    width: 50%;
}
.col-lg-7 {
    float: left;
    width: 59%;
}
.col-lg-8 {
    float: left;
    width: 66.66%;
}
.col-lg-9 {
    float: left;
    width: 75%;
}
.col-lg-10 {
    float: left;
    width: 82%;
}
.col-lg-11 {
    float: left;
    width: 91%;
}
.col-lg-12 {
    float: left;
    width: 100%;
}
.text-right {
    text-align: right;
}
.valign-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.valign-wrapper .valign {
    display: block;
}
.center {
    text-align: center;
    vertical-align: middle;
}
.center, .center-align {
    text-align: center;
}

.margin-b-48 {
    margin-bottom : 48px;
}

.margin-b-32 {
    margin-bottom : 32px;
}

.margin-b-16 {
    margin-bottom : 16px;
}

.margin-20 {
    margin: 20px 0;
}

.margin-left-20 {
    margin-left: 20px;
}