#buyin-pref {
  #error-message {
    color: red;
    font-size: 11px;
  }
  .tournament-logo-icon-container {
    width: 25%;
    margin: 0 auto;
    top: -40px;
    position: relative;
  }
  .form-container {
    width: 80%;
    margin: 0 auto;
  }
  .pref-input{
    border-radius: 52px;
    background-color: #494949;
    padding: 10px;
    font-size: 13.5px;
    font-weight: 600;
    text-align: center;
    width: 25%;
  }
  .label-wrapper {
    float: left;
    width: 50%;
    text-align: left;
  }
  .pref-input-wrapper {
    float: right;
  }
  .pref-label {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
  }
  .user-settings {
    display: flex;
    margin-bottom: 72px;
  }
  .maintain-stack{
    margin-right: 10%;
  }
  .button-container {
    text-align: right;
  }
}