#login {
	.fade-scale {
	  transform: scale(0);
	  opacity: 0;
	  -webkit-transition: all .25s linear;
	  -o-transition: all .25s linear;
	  transition: all .25s linear;
	}

	.fade-scale.in {
	  opacity: 1;
	  transform: scale(1);
	}
	#login-content {
		opacity: 0.92;
		border-radius: 60px;
		background-color: #1b1b1b;
		color: white;
	}
	.modal-container {
		text-align: center;
	}
	.play-icon-container {
		margin: 0 auto;
	    width: 30%;
	    margin-top: 10%;
        margin-bottom: 10%;
	}
	.bottom-button-container {
		
	}
	.vertical-alignment-helper {
	    display:table;
	    height: 100%;
	    width: 100%;
	    pointer-events:none;
	}
	.vertical-align-center {
	    /* To center vertically */
	    display: table-cell;
	    vertical-align: middle;
	    pointer-events:none;
	}
	.modal-content {
	    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
	    width:inherit;
	    height:inherit;
	    /* To center horizontally */
	    margin: 0 auto;
	    pointer-events:all;
	}

	#inputUsername, #inputPassword {
		padding: 14px 0;
		width: 100%;
		border-radius: 70px;
		background-color: #151515;
		color: white;
	    text-align: center;
		border: solid 1.4px #3b3b44;
	}

	#sign-up, #facebook-login {
		padding: 8px 16px;
		border-radius: 50px;
		background-color: #262626;
		color: white;
	}
	.form-group {
		width: 50%;
		margin: 0 auto;
	    margin-bottom: 10%;
	}
	.login-button {
   		position: absolute;
	    bottom: 0px;
	    right: 0px;
	    background-color: #3de689;
	    padding: 18px 8px 6px 10px;
	    border-radius: 70px;
	    width: 30px;
	    border: 1px solid #3de689;
	}

	.btn.focus, .btn:focus, .btn:hover {
		background-color: #3de689 !important;
	    color: white !important;
	}

	.password-container {
		position: relative;
	}
	.sign-up-button-container {
	    float: left;
	}
	.facebook-login-button-container {
	    float: right;
	}
}