#login {
	.sign-up-form {
		visibility: hidden;
		opacity: 0;
		height:0;
		&.expand {
			visibility: visible;
			opacity: 1;
			height:100%;
			transition: all 1s ease-in-out;
		}
	}
	.play-icon-container {
		margin: 0 auto;
	    width: 30%;
	    margin-top: 10%;
        margin-bottom: 10%;
        &.sign-up-form-group {
	    	width: 20%;
		    margin-top: 5%;
	        margin-bottom: 5%;
	        transition: all 1s ease-in-out;
	    }
	}
	.bottom-button-container {
		
	}

	#sign-up, #facebook-login {
		padding: 8px 16px;
		border-radius: 50px;
		background-color: #262626;
		color: white;
	}
	.form-group {
		width: 50%;
		margin: 0 auto;
	    margin-bottom: 10%;
	    &.sign-up-form-group {
	    	margin-bottom: 2%;
		    padding: 5px;
	    	transition: all 1s ease-in-out;
	    }
	}
	.mobile-otp {
		display: -webkit-inline-box;
		overflow: hidden;
	    width: 100%;
	}
	.mobile-container {
		width: 100%;
	}
	.otp-container {
		display: none;
	}
	.show-otp {
		.mobile-container {
			width: 0;
			transition: all 1s ease-in-out;
			#inputUserNumber {
				transition: all 1s ease-in-out;
			}
		}
		.otp-container {
			width: 100%;
			display: block;
			transition: all 1s ease-in-out;
		}
	}
	.resend-box {
		position: absolute;
		top: 50%;
		right: -8px;
		transform: translate(100%, -50%);
		color: #3de689;
		letter-spacing: 0.3px;
		font-size: 12px;
		font-weight: 600;
	}

	.login-action {
   		position: absolute;
		top: 50%;
		right: -2px;
		transform: translateY(-50%);
		background-color: #3de689;
	    padding: 5.5% 3% 4.5% 3%;
		border-radius: 70px;
		width: 30px;
		border: 1px solid #3de689;
	}

	.btn.focus, .btn:focus, .btn:hover {
		background-color: #3de689 !important;
	    color: white !important;
	}
	.sign-up-form-group .login-button {
		display: none;
	}

	.login-action-container {
		position: relative;
	}
	.bottom-button-container {
	    width: 50%;
    	margin: 0 auto;
		display: flex;
    	justify-content: space-between;
    	margin-top: 5%;
	}
	
}