@import './global.scss';
@import './modal.scss';
@import '../components/containers/home/home.scss';
@import '../components/views/login/login.scss';
body {
	font-family: ProximaNova;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}