@import './global.scss';
@import './modal.scss';
@import '../components/containers/home/home.scss';
@import '../components/layouts/loby/loby-layout.scss';
@import '../components/views/login/login.scss';
@import '../components/views/poker-table/poker-table.scss';
@import '../components/views/filter/filter.scss';

body {
	font-family: ProximaNova;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}